.body {     

    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 20px;
}
img{
    border-radius: 50%;
    vertical align:middle;
    height:200px;
    width:  200px;

}

h1 {

    color: #333;
    text-align: center;
    border-bottom: 2px solid #555;
    text-shadow: 0 0 10px rgb(57, 124, 151);
    padding-bottom: 10px;
}

p, li {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

b {
    color: #222;
}

a {
    color: #12659c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}
form{
    border-color: ;

}
.container{
    width:400px;
    border:3px solid black;
    padding:50px;
    margin:20px;
    justify-self: center;
}
.submit{
      justify-self: center;
      
}
button{
    background-color: #81b3d4;
}
.submit hover{
    background-color: rgb(129, 94, 52);
}
  
